// .......profile.......
.profile-box {
    margin: 2rem 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10rem;

    .profile-header {

        .header-flex {
            display: flex;
            justify-content: space-between;

            .content {
                display: flex;
                flex-direction: column;
                margin-top: -2rem;
                margin-left: 2rem;

                img {
                    margin-left: 0.5rem;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                }

                .email {
                    color: #2684f0;
                    font-size: 12px;
                    margin-top: -0.3rem;
                }

                .rows {
                    display: flex;

                    p {
                        margin-right: 1rem;

                        .title {
                            color: gray;
                            font-weight: bold;
                        }
                    }

                }
            }

            .edit-btn {
                padding: 0.3rem 2.5rem;
                border: none;
                margin-top: 2rem;
                margin-right: 2rem;
                background-color: #2684f0;
                color: white;
                border-radius: 5px;
            }

        }

        .titles {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            padding: 0.5rem 2rem;
            margin-top: -1rem;
            margin-bottom: 1rem;
            color: gray;
            font-weight: bold;

            .active {
                color: black;
                text-decoration: underline 3px #2684f0;
            }
        }
    }

    @media screen and (max-width:768px) {
        .profile-header {
            .header-flex {
                flex-direction: column;

                // align-items: center;
                .content {
                    margin-left: 0;
                    margin-top: 0;

                    .rows {
                        flex-direction: column;
                        align-items: center;

                        p {
                            margin-right: 0;
                        }
                    }
                }

                .edit-btn {


                    margin-left: 30%;
                    padding: 0.3rem 1.5rem;
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 30px;




                }
            }
        }

        .blog {
            padding: 10px;
        }
    }
}

.profile {
    .flex {
        display: flex;
        flex-direction: column;
    }


}